<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a href="/">Home</a>
          </li>

          <li class="nav-item">
            <a href="/users">Users</a>
          </li>
          <li class="nav-item">
            <a href="/users/new">New User</a>
          </li>

          <li class="nav-item">
            <a href="/pets">Pets</a>
          </li>
          <li class="nav-item">
            <a href="/pets/new">New Pet</a>
          </li>

        </ul>
      </div>
    </nav>
